:root { /* initiation initial values with :root --> declaring on the highest level */
  --base: #F48024;
  --blur: 3px;
  --spacing: 10px;
  --backbase: #282C34;
}

body {
  font-family: 'Patrick Hand SC', cursive;
  background-color: var(--backbase);
  text-align: center;
}

h1 {
  color: #FFC809;
}

label {
  color: #F96567;
}

li {
  display: inline-block;
}

img {
  width: 80%;
  background: var(--base);
  padding: var(--spacing);
  filter:blur(var(--blur));
}

.js-text {
  color: var(--base);
}

.controls {
  margin-bottom: 20px;
}
